# Data Cleaning

## 1. Objectives

- Evaluate missing data
- Clean data
- Export cleaned data for use in modeling

## 2. Inputs

- /workspace/house-price-regression/inputs/datasets/raw/train.csv

## 3. Outputs

- Clean data sets saved in /workspace/house-price-regression/outputs/datasets/cleaned

## 4. Imports

In [2]:
import pandas as pd
import numpy as np

## 5. Load data

In [3]:
import os

# Get the current working directory (cwd)
cwd = os.getcwd()
print(f"[*] Previous working directory: {cwd}")

# Make the parent of the cwd the new cwd
os.chdir(os.path.dirname(cwd))
cwd = os.getcwd()
print(f"[*] Updated current working directory: {cwd}")

# Load the data
df_train = pd.read_csv("inputs/datasets/raw/train.csv")
df_test = pd.read_csv("inputs/datasets/raw/test.csv")

[*] Previous working directory: /workspace/house-price-regression/jupyter_notebooks
[*] Updated current working directory: /workspace/house-price-regression

## 6. Create DataFrames with selected feature variables only

- OverallQual: Overall Quality
- YearBuilt: Year Built
- YearRemodAdd: Remodel Date
- TotalBsmtSF: Total Basement Square Footage
- 1stFlrSF: Total First Floor Square Footage
- GrLivArea: Above Grade (Ground) Living Area Square Footage
- FullBath: Number of Full Bathrooms
- TotRmsAbvGrd: Number of Rooms above Grade
- GarageCars: Garage (Number of Cars)
- GarageArea: Garage Area Square Footage

In [4]:
# Selected features

selected_features_train = ['OverallQual', 'YearBuilt',
                           'YearRemodAdd', 'TotalBsmtSF',
                           '1stFlrSF', 'GrLivArea',
                           'FullBath', 'TotRmsAbvGrd',
                           'GarageCars', 'GarageArea',
                           'SalePrice']

selected_features_test = ['OverallQual', 'YearBuilt',
                     'YearRemodAdd', 'TotalBsmtSF',
                     '1stFlrSF', 'GrLivArea',
                     'FullBath', 'TotRmsAbvGrd',
                     'GarageCars', 'GarageArea']
df_train_selected = df_train[selected_features_train]
df_test_selected = df_test[selected_features_test]

df_test_selected.head()

,OverallQual,YearBuilt,YearRemodAdd,TotalBsmtSF,1stFlrSF,GrLivArea,FullBath,TotRmsAbvGrd,GarageCars,GarageArea
0,5,1961,1961,882.0,896,896,1,5,1.0,730.0
1,6,1958,1958,1329.0,1329,1329,1,6,1.0,312.0
2,5,1997,1998,928.0,928,1629,2,6,2.0,482.0
3,6,1998,1998,926.0,926,1604,2,7,2.0,470.0
4,8,1992,1992,1280.0,1280,1280,2,5,2.0,506.0

In [12]:
df_train_selected.head()

,OverallQual,YearBuilt,YearRemodAdd,TotalBsmtSF,1stFlrSF,GrLivArea,FullBath,TotRmsAbvGrd,GarageCars,GarageArea,SalePrice
0,7,2003,2003,856,856,1710,2,8,2,548,208500
1,6,1976,1976,1262,1262,1262,2,6,2,460,181500
2,7,2001,2002,920,920,1786,2,6,2,608,223500
3,7,1915,1970,756,961,1717,1,7,3,642,140000
4,8,2000,2000,1145,1145,2198,2,9,3,836,250000

## 7. Check for Missing Data

### 7.1 Training data set

In [21]:
# Create function to check for missing values
def check_for_missing_values(df):
    missing_total = df.isnull().sum().sort_values(ascending=False)
    missing_percentage = ((df.isnull().sum()/df.isnull().count()) * 100).sort_values(ascending=False)
    missing_table = pd.concat([missing_total,
                               missing_percentage],
                               axis=1,
                               keys=['Total missing values', 'Percentage'])
    return missing_table

In [22]:
# Check missing values in training data set
df_training_selected_missing_table = check_for_missing_values(df_train_selected)
df_training_selected_missing_table

              Total missing values  Percentage
OverallQual                      0         0.0
YearBuilt                        0         0.0
YearRemodAdd                     0         0.0
TotalBsmtSF                      0         0.0
1stFlrSF                         0         0.0
GrLivArea                        0         0.0
FullBath                         0         0.0
TotRmsAbvGrd                     0         0.0
GarageCars                       0         0.0
GarageArea                       0         0.0
SalePrice                        0         0.0

### 7.2 Test data set

In [23]:
# Check missing values in training data set
df_test_selected_missing_table = check_for_missing_values(df_test_selected)
df_test_selected_missing_table

              Total missing values  Percentage
TotalBsmtSF                      1     0.06854
GarageCars                       1     0.06854
GarageArea                       1     0.06854
OverallQual                      0     0.00000
YearBuilt                        0     0.00000
YearRemodAdd                     0     0.00000
1stFlrSF                         0     0.00000
GrLivArea                        0     0.00000
FullBath                         0     0.00000
TotRmsAbvGrd                     0     0.00000

### 7.3 Missing Values Conclusion

It seems like the training data set contains no missing values for our selected features. The test data set, however, does! Only one value is missing for each of TotalBsmtSF, GarageCars and GarageArea which equates to roughly 0.069% of the test data set. This value is negligible when the size of the data set is considered. As such, these rows can be dropped from the test DataFrame without any reason for concern.

## 8. Drop Rows With Missing Values

As mentioned in section 7.3, only the test data set contains missing values. As such only the test data set will be targeted for cleaning.

In [24]:
# Check length of test data set before removing missing values
len(df_test_selected)

1459

In [25]:
# Check length of test data set after removing missing values
df_test_selected_clean = df_test_selected.dropna(axis=0)
len(df_test_selected_clean)

1457

In [27]:
# Re-check missing values in training data set after removing missing values
df_test_selected_missing_table = check_for_missing_values(df_test_selected_clean)
df_test_selected_missing_table

              Total missing values  Percentage
OverallQual                      0         0.0
YearBuilt                        0         0.0
YearRemodAdd                     0         0.0
TotalBsmtSF                      0         0.0
1stFlrSF                         0         0.0
GrLivArea                        0         0.0
FullBath                         0         0.0
TotRmsAbvGrd                     0         0.0
GarageCars                       0         0.0
GarageArea                       0         0.0

## 9. Output Clean Data Sets as CSV files

In [28]:
# Create outputs/datasets/collection folder
import os
try:
  os.makedirs(name='outputs/datasets/cleaned')
except Exception as e:
  print(e)

In [29]:
# Export training data
df_train_selected.to_csv("outputs/datasets/cleaned/TrainSetCleaned.csv", index=False)

# Export test data
df_test_selected_clean.to_csv("outputs/datasets/cleaned/TestSetCleaned.csv", index=False)